.title {
	color: $black;

	&-h1 {
		font-size: 28px;
		font-weight: 700;

		@include tablet {
			font-size: 26px;
		}
	}
	&-h2 {
		font-size: 36px;
		font-weight: 500;

		@include tablet {
			font-size: 26px;
		}
	}

	&--color {
		&_black {
			color: $black;
		}
	}
}
