.contacts {
	margin-top: 60px;
	margin-bottom: 80px;

	@include tablet {
		margin-top: 40px;
		margin-bottom: 40px;
	}

	&__header {
		margin-bottom: 40px;

		@include tablet {
			margin-bottom: 24px;
		}
	}

	&__title {
		text-align: center;
		margin-bottom: 24px;

		@include tablet {
			margin-bottom: 12px;
		}
	}

	&__subtitle {
		text-align: center;
		max-width: 600px;
		margin: 0 auto;
	}

	&__body {
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	&__contact {
		&-item {
			display: flex;
			align-items: center;

			&:not(:last-child) {
				margin-bottom: 8px;
			}

			&-icon {
				width: 29px;
				height: 29px;
				margin-right: 12px;
			}

			&-link {
				color: $black;
				font-size: 20px;
				font-weight: 600;

				&:hover {
					text-decoration: underline;
				}
			}
		}
	}
}
